.latest {
	width: 90%;
	max-width: 60rem;
	margin: var(--size-8) auto;
	/* border: solid 1px red; */
	/* padding: var(--size-8) 25%;  */
	/* background-color: grey; */
}

.latest h3 {
	font-size: var(--size-8);
	color: var(--color-grey-800);
	/* text-align: center; */
}

.latest h4 {
	font-size: var(--size-6);
	color: var(--color-grey-800);
	text-align: center;
}

.gradiention  {
	width: 90%;
	max-width: 60rem;
	margin: var(--size-8) auto;
	border: 1px solid red;
	background-color: red;
	position: absolute;
	/* background-image: linear-gradient(
		to top,
		rgb(211, 211, 211),
		rgba(255, 255, 255, 0) 30%
	); */
	/* display: flex;
	justify-content: center;
	align-items: flex-end; */
}

.grid {
	/* background-image: linear-gradient(
		to top,
		rgb(211, 211, 211),
		rgba(255, 255, 255, 0) 30%
		); */
	display: grid;
	list-style: none;
	margin: 0;
	padding: 0;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	gap: 5.5rem;
	align-content: center;
}

.addButton {
	position: absolute;
	/* margin: auto; */
	z-index: 2;
	cursor: pointer;
	background-color: black;
	color: white;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-size: 0.7rem;
	border: none;
	margin-bottom: -2%;
}

@media (min-width: 768px) {
	.latest h3 {
		font-size: var(--size-12);
	}
}
