.ourselves {
	background-color: white;
	width: 90%;
	max-width: 60rem;
	margin: var(--size-20) auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: baseline;
}

.ourselves h1 {
	font-size: var(--size-16);
	margin: var(--size-4) 0;
	color: var(--color-grey-900);
}

.ourselves h2 {
	font-weight: 900;
	color: var(--color-grey-900);
	width: 90%;
	max-width: 40rem;
	margin: var(--size-40) 0 var(--size-3) 0;
}

.ourselves div {
	margin: var(--size-2) 0;
	font-size: var(--size-5);
}
