.grid {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(2, minmax(20rem, 1fr));
	gap: 5.5rem;
	height: fit-content;
	align-content: center;
}

@media only screen and (max-width: 830px) {
	.grid {
		list-style: none;
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: repeat(1, minmax(20rem, 1fr));
		gap: 5.5rem;
		height: fit-content;
		align-content: center;
	}
}
